@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="teste">
    <div class="container-login100 container-fluid">
        <div class="login100-form validate-form p-b-33 p-t-5">
            <div class="row" style="margin-top: 25px; align-items: center; justify-content: center;">
                <div class="circle col-3"><img class="imagem" src="/Identity/res/admin/images/111039_key_icon.png" alt="user"></div>
                <span class="login101-form-title col-7">
                    Redefinir Palavra-Passe
                </span>
            </div>
            <div class="wrap-input100 validate-input">
                <p class="pp">O pedido foi recebido, verifique o seu email!</p>
            </div>
        </div>
    </div>
</div>
