@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="teste">
    <div class="container-login100 container-fluid">
        <form method="post" class="login100-form validate-form p-b-33 p-t-5">
            <div class="row" style="margin-top: 25px; align-items: center; justify-content: center;">
                <div class="circle col-3"><img class="imagem" src="/Identity/res/admin/images/111039_key_icon.png" alt="user"></div>
                <span class="login101-form-title col-7">
                    Redefinir Palavra-Passe
                </span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" placeholder="." autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"><i class="fa fa-user"></i> Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" placeholder="." autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"><i class="fa fa-lock"></i> Palavra-Passe</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="." autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"><i class="fa fa-lock"></i> Palavra-Passe</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="container-login100-form-btn m-t-10 text-center">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
