@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="teste">
    <div class="container-login100 container-fluid">
        <form id="profile-form" method="post" class="login100-form validate-form p-b-33 p-t-5">
            <div class="row" style="margin-top: 25px; align-items: center; justify-content: center;">
                <div class="circle col-3"><img class="imagem" src="/Identity/res/admin/images/log-png-icon-free-download-935689.png" alt="user"></div>
                <span class="login100-form-title col-7">
                    @ViewData["Title"]
                </span>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"> Email:</label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label">Número de telemóvel</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" style="width: 92%; margin:10px 0 20px 0;" class="btn btn-lg btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
