@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li><a href="authentication/profile" style="text-align: center; padding:10px;">Olá, @context.User.Identity?.Name!</a></li>
        <li><hr class="dropdown-divider"></li>
        <li style="text-align: center;"><a href="/">Tickets</a></li>
        <li style="text-align: center; margin-top: 10px;"><button class="nav-link btn btn-link btn-primary" style="width: 80%;" @onclick="BeginSignOut">Sair</button></li>
    </Authorized>
    <NotAuthorized>
        <li style="text-align: center;"><a href="/">Tickets</a></li>
        <li style="text-align: center; margin-top: 10px;"><a class="nav-link btn btn-link btn-primary" style="width: 80%; text-align: center;" href="authentication/login">Entrar</a></li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
