@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth" style="margin: 20px; z-index:9999;">
            <div class="dropdown">
                <a role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/Identity/res/admin/images/kisspng-login-google-account-computer-icons-user-activity-5ac6bbe74aa7f1.6157264215229736713058.png">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <LoginDisplay />
                </ul>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
